<div class="footer-col-wrapper">
	<div class="footer-col footer-col-3">
		<ul class="social-media-list">
  			{%- if site.main_github_username -%}<li><a href="https://github.com/{{ site.main_github_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg> <span class="username">{{ site.main_github_username| escape }}</span></a></li>{%- endif -%}
  			{%- if site.main_twitter_username -%}<li><a href="https://www.twitter.com/{{ site.main_twitter_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use></svg> <span class="username">{{ site.main_twitter_username| escape }}</span></a></li>{%- endif -%}
		</ul>
	</div>
	
	<div class="footer-col footer-col-3">
		<ul class="social-media-list">
  			{%- if site.second_github_username -%}<li><a href="https://github.com/{{ site.second_github_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg> <span class="username">{{ site.second_github_username| escape }}</span></a></li>{%- endif -%}
  			{%- if site.second_twitter_username -%}<li><a href="https://www.twitter.com/{{ site.second_twitter_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use></svg> <span class="username">{{ site.second_twitter_username| escape }}</span></a></li>{%- endif -%}
		</ul>
    </div>
</div>